footer {
  // @extend .p-y-6;
}

.help-resources {
  padding: 40px 40px 40px 40px;
}

.call-us {
  padding: 40px 40px 40px 40px;
}

.donate {
  padding: 40px 40px 40px 40px;
}

.mailing {
  padding: 40px 40px 40px 40px;
}
