footer {
  // @extend .p-y-6;
}

.help-resources {
  padding: 20px 20px 20px 20px;
}

.call-us {
  padding: 20px 20px 20px 20px;
}

.donate {
  padding: 20px 20px 20px 20px;
}

.mailing {
  padding: 20px 20px 20px 20px;
}
