label {
  display: block;
  width: 100%;
  @extend .h6;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  outline: none;
  border-radius: 0;
  -webkit-appearance:none;
  padding: 1rem;
  display: block;
  width: 100%;
  background: transparent;
  border: 3px solid $brand-primary;
  font: inherit;
  margin-bottom: 1rem;
  &.width-2,
  &.width-3,
  &.width-4,
  &.width-5,
  &.width-6 {
    text-align: center;
    display: inline-block;
    width: auto;
  }

  &.width-2 {
    width: 6rem;
  }
  &.width-4 {
    width: 10rem;
  }
  &.width-5 {
    width: 12rem;
  }
  &.width-20 {
    width: 32rem;
  }
}

textarea {
  border: 3px solid $brand-primary;
  width: 100%;
  min-height: 12rem;
}

p.error-message {
  color: $red !important;
}

.success-message {
  position: relative;
  padding: 15px;
  background: $hca-bright-green;
  margin-top: 15px;
  color: $white;
}

.system-error {
  position: relative;
  padding: 15px;
  background: $red;
  margin-top: 15px;
  color: $white;
}

.system-message-title {
  margin-bottom: 5px;
}

.invalid {
  background: $bg-pink !important;
  border: 3px solid $red !important;
}

.success-message a {
    border-bottom: 2px solid #eee;
    &:hover,
  	&:active,
  	&:focus {
  		color: $hca-blue;
  		cursor: pointer;
  		border-bottom: 2px solid $hca-blue;
  	}
}

.close-success-message {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $white;
  font-size: 1.3em;
  line-height: 0;
  text-align: center;
  border: none;
  color: $hca-bright-green;
}

.close-error-message {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $white;
  font-size: 1.3em;
  line-height: 0;
  text-align: center;
  border: none;
  color: $red;
}

input[type="radio"] {
  display:inline-block;
   width:19px;
   height:19px;
   margin:-1px 4px 0 0;
   vertical-align:middle;
   cursor:pointer;
   -moz-border-radius:  50%;
   border-radius:  50%;
}

select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #000;
  border-radius: 0;
  font: inherit;
  padding: 1rem;
  border: none;
  color: $white;
  outline: none;
  &.inline {
    width: auto;
    display: inline;
  }
}

#comment-form {
  border: $border-width dotted $body-color;
  @media screen and (max-width: 640px) {
    border: none;
  }
  span.reply-bar {
    margin-right: -34px;
    vertical-align: 10px;
    @media screen and (max-width: 640px) {
      margin-right: -25px;
    }
  }
  span.reply-arrow {
    vertical-align: -6px;
    @media screen and (max-width: 640px) {
      vertical-align: -2px;
    }
  }
}
