body {
  padding-top: $navbar-height * 2;
}

header {
  font-weight: bold;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 1;
  height: 50px;
  & > img {
    float: left;
    max-width: 30px;
    max-height: 30px;
    line-height: 1;
    margin-top: -5px;
    margin-right: 10px;
  }
}
