body {
  padding-top: $navbar-height * 2;
}

body.logged-in>header.navbar {
  padding-top: 32px;
}

.bg {
    -webkit-transition: backgroundColor 0.5s ease;
    -moz-transition: backgroundColor 0.5s ease;
    -o-transition: backgroundColor 0.5s ease;
    transition: backgroundColor 0.5s ease;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 1;
  height: 50px;
  & > img {
    float: left;
    max-width: 30px;
    max-height: 30px;
    line-height: 1;
    margin-top: -5px;
    margin-right: 10px;
  }
}

.navbar {
  border: none !important;
}

.not-home {
  .navbar-nav>li {
    opacity: 0.2;
    &.dropdown {
      &.open {
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:hover, &:focus {
      opacity: 1;
    }
    &.current-menu-item, &.current-category-ancestor, &.current-post-ancestor {
      opacity: 1;
    }
  }
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
    border: none;
}

.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
    background-color: $hca-blue;
}

.dropdown-menu li a {
  color: $brand-primary;
  font-size: $font-size-md;
}

.navbar-nav li .dropdown-menu {
  margin-top: 12px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: #fff;
    border: 3px solid;
    border: 3px solid;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}

.open {
  opacity: 1 !important;
}

.navbar-nav>li {
  font-size: $font-size-md;
  text-transform: uppercase;
  margin-right: 30px;
  	&:hover {
  	border-bottom: solid 3px;
  }
  &>a {
    padding: 15px 0px 3px 0;
    &:hover {
        background-color: transparent;
        outline: none;
    }
  }
  &:last-of-type {
    margin-right: 0px;
  }
  &.current-menu-item, &.current-category-ancestor, &.current-post-ancestor, &.current-menu-ancestor {
    border-bottom: 3px solid #000;
    opacity: 1;
    &:hover {
        background-color: transparent;
    }
  }
}

.full, .top-section {
	padding-top: 13em;
	margin-bottom: 4em;
  overflow: hidden;
}

.category-title-section {
	padding-top: 13em;
	margin-bottom: 2em;
  overflow: hidden;
}

.section-full {
	padding-top: 6em;
  padding-bottom: 6em;
}

.header-image-left, .header-image-right { position: relative; img { position: absolute;z-index: 1; } }

@keyframes cloudies {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -120px;
  }
}

$cloudies-time: 45s;

.header-image-left {
  height: 165px;
  img {
    &.clouds {
      top:0;
      z-index: 0;
    }
    &#cloud-left{
      left: 165px;
      width: 100px;
      top:-10px;
      animation-duration: $cloudies-time;
      animation-name: cloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#cloud-center{
      left: 345px;
      width: 170px;
      top:-20px;
      animation-duration: $cloudies-time;
      animation-name: cloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#cloud-right{
      left: 520px;
      width: 100px;
      top:-25px;
      animation-duration: $cloudies-time;
      animation-name: cloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    width: 100%;
    height: auto;
    max-width: 760px;
  }
}

.homepage-clouds { position: relative; img { position: absolute;z-index: 1; } }


@keyframes homecloudies {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -120px;
  }
}

$home-cloudies-time: 45s;


.homepage-clouds {
  height: 80px;
  img {
    &.clouds {
      z-index: 0;
    }
    &#home-cloud-left{
      left: 0px;
      width: 140px;
      top:-20px;
      animation-duration: $home-cloudies-time;
      animation-name: homecloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#home-cloud-left-center{
      left: 320px;
      width: 90px;
      top:-158px;
      animation-duration: $home-cloudies-time;
      animation-name: homecloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#home-cloud-center{
      left: 520px;
      width: 170px;
      top:-55px;
      animation-duration: $home-cloudies-time;
      animation-name: homecloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#home-cloud-right-center{
      left: 800px;
      width: 150px;
      top:0px;
      animation-duration: $home-cloudies-time;
      animation-name: homecloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    &#home-cloud-right{
      left: 1055px;
      width: 100px;
      top:-158px;
      animation-duration: $home-cloudies-time;
      animation-name: homecloudies;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    width: 100%;
    height: auto;
    max-width: 760px;
  }
}

.header-image-right {
  height: 440px;
  img.main-image {
    width: 90%;
    height: auto;
    top: 20px;
    left: -25px;
  }
  img.right-image {
    width: 15%;
    height: auto;
    top: 14px;
    right: 0;
  }
}
