// Placeholder image div
.placeholder {
  @include aspect-ratio(3, 2);
  background: $gray-lighter;
}

.placeholder--square,
.square-placeholder {
  @include aspect-ratio(1,1);
  background: $gray-lighter;
}

.placeholder--sponsor {
  @include aspect-ratio(2, 1);
  background: $gray-lighter;
  .content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bg-scrolled {
  background-color: $white;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
}

.bg {
  background-color: $white;
  &.green {
    background-color: $bg-green;
  }
  &.pink {
    background-color: $bg-pink;
  }
  &.blue{
    background-color: $light-blue;
  }
  &.white {
    background-color: $white;
  }
  &.yellow {
    background-color: $hca-yellow;
  }
  &.black {
    background-color: $brand-primary;
    color: $white;
    font-size: $font-size-small;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.solid {
  border: $border-width solid $body-color;
}

.dotted {
  border: $border-width dotted $body-color;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

// Paragraph Styling
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.accordian-content {
  display: none;
  &.visible {
    display: block;
  }
}

.secondary-type {
  font-family: $font-family-serif;
  font-weight: normal;
}

// Boxes
.boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  & > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.box {
  @extend .solid;
  padding: $spacer $spacer * 1.35 $spacer * 1.5 $spacer * 1.25 ;
  // & > div {
  //   display: block;
  // }
  // display: flex;
  // width: 25%;

}

ul.list-unstyled,
ol.list-unstyled {
  list-style-type: none;
  margin: 1.5rem 0;
  padding: 0;
}

ul.inline,
ol.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
}

table.unstyled {
  border-collapse: collapse;
  width: 100%;
}

.is-table-row {
  display: table;
}

.is-table-row [class*="col-"] {
   float: none;
   display: table-cell;
   vertical-align: top;
}

.is-table-row {
  &.top {
    [class*="col-"] {
       float: none;
       display: table-cell;
       vertical-align: top;
    }
  }
  &.middle {
    [class*="col-"] {
       float: none;
       display: table-cell;
       vertical-align: middle;
       border: none;
    }
  }
}
