body.modal-active {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.4rem;
  background: rgba(0,0,0,.2);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background: #fff;
    p {
      font-size: $font-size-base;
    }
  }
  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    span {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    &:hover {
      // background: $body-color;
      // color: #fff !important;
      text-decoration: underline;
    }
  }
  &.active {
    z-index: 2000;
    display: block;
  }
}
