#search-section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: relative;
  padding: 20px 0;
  color: rgb(0, 42, 192);
  background-repeat: repeat-x;
}





body.autocomplete-overlay #autocomplete {
  display: none;
}

#search-section.active {
  z-index: 1000;
  position: relative;
  padding: 20px 0;
  color: rgb(0, 42, 192);
/*   background-image: -webkit-linear-gradient(to bottom, rgba(0, 42, 192, 0.75) 0%, rgba(0, 42, 192, 0.75) 80%); */
  /* background-image: -webkit-linear-gradient(top, rgba(0, 42, 192, 0.75) 0, rgba(0, 42, 192, 0.75) 80%); */
/*   background-repeat: repeat-x; */
  background: transparent;
}

#autocomplete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 42, 192, 0.75);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 1000ms; */
}

#autocomplete-overlay.visible {
  opacity: 1;
  visibility: visible;
}

#autocomplete {
  background: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition: opacity 1000ms; */
}

body.autocomplete-active #autocomplete {
  /* transition: background 1000ms; */
  /* background: rgba(0,0,255, .8); */
  visibility: visible;
  opacity: 1;
}

/* rgba(0, 42, 192, 0.75); */

.search-section {

}

.search-form {
  position: relative;
}
#autocomplete {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}